<!-- <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= video_tag(
                'Play.mp4', 
                id: 'background',
                autoplay: true,
                loop: true,
                muted: true,
                poster: 'Play.jpg'
            )
            %>
        </div>
    </div>
</div> -->