<div id="footer">
    <div class="container">
      <ul class="footer-block">Website created by Brett Lorscheider<ul>brettlorsch@gmail.com</ul><ul><%= link_to "www.brettlorscheider.com", "http://www.brettlorscheider.com", :target => "_blank" %></ul></ul>
    </div>
  </div>

