<div id="footer">
    <div class="container-fluid">
      <div class="footer-content">
        <ul class="footer-block">
        <ul>Website created by Brett Lorscheider</ul>
        <ul><a href="mailto:brettlorsch@gmail.com">Email Me</a></ul>
        <ul><%= link_to "www.brettlorscheider.com", "http://www.brettlorscheider.com", :target => "_blank" %></ul>
        </ul>
      </div>
    </div>
  </div>

