<div class="card testimonial-card">
  <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
  </div>
    <div class="card-body">
      <h4 class="card-title"><p>Kelly Tate</p> <p>Director</p></h4>
      <hr>
        <%= link_to "Meet Kelly", pages_kelly_path, class: "btn btn-lg btn-primary" %></p>
    </div>
</div>
