<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div><%= render 'shared/kelly' %></div>
        </div>
        <div class="col-lg-3">
            <div><%= render 'shared/dawn' %></div>
        </div>
        <div class="col-lg-3">
            <div><%= render 'shared/doreen' %></div>
        </div>
        <div class="col-lg-3">
            <div><%= render 'shared/christine' %></div>
        </div>
    </div>
</div>