<div class="card contact">
  <h1 class="title">Admission</h1>
  <p class="title"><b>Reviewing Records:</b></p>
  <p>Sometimes you’ve had your school do all the testing and you still don’t understand what you should do now.  We are happy to meet with you and go over what the results mean, what to look for, and help you create an action plan for your child either with something as simple as modifications in the classroom, or bigger accommodations you may need.  We can gather information from these reports on whether enough testing has been done on your child or whether you need to go back to your school and request more.  The best part about this is testing has been done already and we are here to offer services of advice.</p>
  <p class="title"><b>Characteristics Profile Assessment:</b></p>  
  <p>You may be wondering if we are a fit for what you are looking for. We want to make sure we have the services you need.  Feel free to contact us and schedule a 45 minute, inexpensive evaluation to see if the multisensory curriculum we provide is a match for your child.  This evaluation includes a Dyslexia Determination Test, Spelling assessment, writing assessment, sight word recognition, reading rate, fluency, and comprehension evaluation.</p>
  <p class="title"><b>Dyslexia Screening:</b></p> 
  <p>A dyslexia screening is a more in depth evaluation and assessment to help parents that are struggling to receive the services their child needs in their school.  This screening includes looking specifically at the specific areas that schools look at for learning disabilities.  This also includes Inspiring Minds being a students advocate in an IEP meeting.</p>

  <p class="title"><b>Feel free to contact us with any questions you may have.</b></p>
</div>
