<h1>Dawn Ella Tate, Dyslexia Tutor</h1>

<p>
  Dawn obtained an Associates Degree with an emphasis in Education from Brigham Young University Idaho, followed by a Baccalaureate Degree in General Family Life and Social Sciences from Brigham Young University, Provo.  Dawn is currently trained in The Orton Gillingham Approach.   Dawn has been working with students with dyslexia for four years.   Dawn loves education stating,  “There is nothing more beautiful than watching one overcome and conquer their challenges.  She portrays this ambition to her students thus building self-confidence and learning.
</p>