<div class='container-fluid'>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "img1.png", alt: "home-image1", class: 'home-image' %> 
      </div>
      <div class="carousel-item">
        <%= image_tag "img2.png", alt: "home-image2", class: 'home-image' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "img3.png", alt: "home-image3", class: 'home-image' %>
      </div>
      <div class="carousel-item">
        <%= image_tag "img4.png", alt: "home-image4", class: 'home-image' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
 