
<div class="kelly-card">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Kelly Tate, Director of Inspiring Minds and Dyslexia Therapist</h4>
      <p class="card-text">Kelly Tate is a Certified Academic Language Therapist,CALT) and is qualified to treat children and adults diagnosed with written-language learning disabilities. As an Academic Language Therapist, she also holds a masters degree in Educational Administration and a  Baccalaureate Degree in special education and k-12 grade education and has completed extensive post-graduate education from The Scottish Rite Learning Center inWest Texas in Alphabetic Phonics and Take Flight curriculum. Both of these programs are Orton Gillingham based programs designed and recognized by The Scottish Rite Hospital and The National Reading Panel as proven methods to overcoming dyslexia.   Mrs. Tate has taught in the public education system for a number of years and has taught students with learning disabilities (dyslexia) for eleven years.  She has been trained in Alphabetic Phonics and The Take Flight Curriculum (both are Orton Gillinghas programs that are recognized by The International Multisensory Structured Language Education Council (imslec.org), The National Reading Panel, and the Scottish Rite Hospital as well as other organizations.  She taught spanish as a second language as well.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
    
  