<div class="card contact">
  <h1 class="title">Resources</h1>
  <p class="title"><b>RECOMENDED BOOKS:</b></p> 
  <div class="body">
  <p>-The Everything Parent’s Guide to Children with Dyslexia</p>
  <p>-Overcoming Dyslexia: A New and Complete Science-Based Program for Reading Problems at Any Level-Sally Schawitz, M.D.</p>
  <p>-How to Reach and Teach Children and Teens with Dyslexia: A Parent and Teacher Guide to Helping Students of All Ages Acaemically, Socially, and Emotionally (J-B Ed: Reach and Teach) by Cynthia M. Stowe M.Ed.</p>
  <p>-The Dyslexia Checklist: A Practical Reference for Parents and Tea (J.B. Ed: Check list) by Sandra F. Rief M.A. and Judith Stern M.A.</p>
  <p>-The Secret Life of the Dyslexic Child: How she thinks. How he feels. How they can succeed-Robert Frank, PhD</p>
  <p>-Dyslexia and Literacy: Theory and Practice (Open University Set Book) by Gavin Reid and Janice Wearmouth</p>
  <p>-What is Dyslexia?: A Book Explaining Dyslexia for Kids and Adults to Use Together-Alan M. Hultquist</p> 
  <p>-Dyslexia My Life by Girard J. Sagmiller</p>
  <p>-Dyslexia and ADHD: The Miracle Cure by Wynford Dore</p>
  <p>-Overcoming Dyslexia for Dummies-Tracey Wood</p>
  <p>-The International Book of Dyslexia: A Guide to Practice and Resources by Ian Smythe, John Everatt, and Robin Salter</p>
  <p>-The Gift of Dyslexia, Revised and Expanded: Why some of the Smartest People Can’t read…and How They Can Learn-Ronald D. Davis and Eldon M. Braun</p>
  <p class="title"><b>BOOKS FOR ADOLESENCE AND YOUTH:</b></p>
  <p>-JOSH: A Boy With Dyslexia by Caroline Janover</p>
  <p>-Life In a Jar-Stephen Sutton</p>
  <p>-My Name is Brain Brian-Jeanne Betancourt</p>
  <p>-My Friend Has Dyslexia (Friends with Disabilities) by Amanda Doering Tourville and Kristin Sorra</p>
  <p>-The Alphabet War: A Story about Dyslexia by Diane Burton Robb and Gail Piazza</p>
  <p>-It’s Called Dyslexia (Live and Learn Series)-Jennifer Moore-Mallinos</p>
  <p>-I Have Dyslexia.  What Does That Mean?-Shelley Ball-Dannenberg and Delaney Dannenberg</p>
  <p>-Taking Dyslexia to School (Special Kids in School) by Karen Schader and Tom Dineen</p>
  </div>
</div>
